{% extends 'base.html' %}

{% block title %}
ABOUT US
{% endblock title %}

{% block body %}

       
<div class="container" style="margin-top:40px;">
     <h2 style="margin-top:30px; text-align:center;" ><span style="color:rgb(23, 126, 185);">ABOUT US</span></h2>
    
    <div class="row">
        <div class="col-sm-4 text-center">
            <img src="static/images/bg.jpg" width="300" height="200" class="img-responsive">
        </div>
    
        <div class="col-sm-8 font-weight-bold mt-5">
        <h4 style="color:rgb(11, 11, 12);"><b>
        This is a simple <br><b><span style="color:rgb(0, 117, 172);">Hospital Management System </span>Project <br> Developed by <b><span style="color:blue;"><br>SUNIL.B (USN:1GA18CS165)</span></b><br> Using <span style="color:rgb(3, 19, 70);"> HTML, CSS, JavaScript, Bootstrap, Python-Flask and MYSQL DataBase.</span> </b></h4>
       
           
        </div>
    
    
        
    
    
    </div>
    
    </div>

{% endblock %}