{% extends 'base.html' %}

{% block title %}
CONTACT US
{% endblock title %}

   
{% block body %}

<div class="container">

    <h2 style="margin-top:70px; text-align:center;" ><span style="color:rgb(47, 59, 170);">CONTACT US</span></h2>
      
   <div class="row mt-5 text-center">
      <div class="col-lg-3 col-sm-6 mydivstyle">
          <h4><i class="fas fa-phone-square"></i> Contact</h4>
          <p class="mt-3 font-weight-bold"><a class="text-danger" href="tel:+91 9900000000"> +91 9900000000</a></p>
  
  
      </div>
      
      <div class="col-lg-3 col-sm-6 mydivstyle">
          <h4><i class="fas fa-envelope"></i> Send Email</h4>
          <p class="mt-3 font-weight-bold"><a class="text-danger" href="mailto-infogroup@gmail.com"> infogroupHMS@gmail.com</a></p>
      
      </div>
  
      <div class="col-lg-3 col-sm-6 mydivstyle">
          <h4><i class="fas fa-address-card"></i> Office Address</h4>
          <p class="mt-3 font-weight-bold"><a class="text-danger" href="http://maps.google.com/maps?q=Bangalore+karnataka"> Bangalore Karnataka</a></p>
      </div>
  
      <div class="col-lg-3 col-sm-6 mydivstyle">
          <h4><i class="fas fa-address-card"></i> Office Hours</h4>
          <p class="mt-3 font-weight-bold text-danger ">9:00 AM to 7:00 PM</a></p>
      </div>
  
   </div>
  </div>
  
  <div class="container mt-4">
  
  <div class="row mb-2">
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3><strong class="d-inline-block mb-2 text-primary">HOSPITAL MANAGEMENT SYSTEM</strong></h3>
            
            
            <h6 class="card-text mb-auto"><span style="color:grey;">Stay one step ahead of Disease</span><br><br></h6>
            <h6> Secure a Healthy Future with Comprehensive</h6>
             
             <h6><span style="color:blue;">At our Hospitals.</span><h6>
  
            
  
         
            
          </div>
       
          <div class="col-auto d-none d-lg-block">
            <img  class="bd-placeholder-img" src="static/images/contact.jpeg">
   
  
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            
            <h5><strong class="d-inline-block mb-2 text-info">Immediate Caring</strong></h5>
            <h3 class="mb-0">Quality & Safety</h3>
           
            <p class="mb-auto">Multispeciality Hospital<br><b><span style="color:green; font-size=16;"> Well Specialised Doctors </span></b><br> We do care you</p>
              <h5><span style="color:gray;">HEALTH CHECKUP SERVICES</span></h5>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img  class="bd-placeholder-img" src="static/images/contact003.png">
           
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  </div>

{% endblock %}